## Lecture III LUMS- TUESDAY 16 FEB 2021

In [46]:
areas = [11.25, 18, 20.0, 10.75, 9.50]

In [3]:
index = areas.index(20.0)
print(index)

2

In [8]:
counts = areas.count(9.50)
print(counts)

1

In [18]:
##create a list
fruits = ['apple', 'banana', 'cherry']

In [19]:
##append a list
fruits.append('orange')

In [20]:
#print the list
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [21]:
#remove an element
fruits.remove('orange')
print(fruits)

['apple', 'banana', 'cherry']

In [22]:
##reverse
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [29]:
#areas.append(24.5)
#areas.append(15.45)
areas+[24.5, 15.45]

[11.25, 18, 20.0, 10.75, 9.5, 24.5, 15.45, 24.5, 15.45]

In [38]:
print(areas)

[15.45, 24.5, 9.5, 10.75, 20.0, 18, 11.25]

In [39]:
areas.reverse()

In [40]:
print(areas)

[11.25, 18, 20.0, 10.75, 9.5, 24.5, 15.45]

In [41]:
print(list(reversed(areas)))

[15.45, 24.5, 9.5, 10.75, 20.0, 18, 11.25]

In [47]:
areas = [11.25, 18, 20.0, 10.75, 9.50]
areas.remove(9.50)
print(areas)

[11.25, 18, 20.0, 10.75]

In [69]:
#import math
#import math
from math import pi

In [70]:
r = 150

In [75]:
circumference = 2 * math.pi *r
area = math.pi * r ** 2

In [78]:
print('Circumference of the cicle is :', circumference)
print('Area of the cicle is :', area)

Circumference of the cicle is : 942.4777960769379
Area of the cicle is : 70685.83470577035

In [79]:
#Create a list 
list = [1,2,3,4,5,6,7,8,9,10]
print(type(list))

<class 'list'>

In [80]:
import numpy as np

In [81]:
#Create a list 
list = [1,2,3,4,5,6,7,8,9,10]

In [82]:
np_array = np.array(list)

In [83]:
print(type(np_array))

<class 'numpy.ndarray'>

In [87]:
baseball = [180, 215, 210, 210, 188, 176, 209, 200]
baseball = np.array(baseball)
print(type(baseball))

<class 'numpy.ndarray'>